<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IP Calculator</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <script src="/fieldVisibility.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="login-body">
<section class="inside-content-box">
    <a th:fragment="logo"><a th:href="@{/home}"><img alt="IP Calculator" class="logo center-horizontal" height="175"
                                                     src="/logo.svg" width="450"></a></a>

    <form method="get" th:action="@{/public/calculator}" th:fragment="calculator">
        <div class="columnHalfSpace" th:if="${network}!=null">
            <table class="networkTable">
                <thead>
                <th>Network IP</th>
                <th>Subnet mask</th>
                <th>Router IP</th>
                <th>Broadcast IP</th>
                <th>Available addresses</th>
                <th>Available addresses start</th>
                <th>Available addresses end</th>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${network.networkIp}"></td>
                    <td th:text="${network.subnetMask}"></td>
                    <td th:text="${network.routerIp}"></td>
                    <td th:text="${network.broadcastIp}"></td>
                    <td th:text="${network.addressesAmount}"></td>
                    <td th:text="${network.routerIp}"></td>
                    <td th:text="${network.lastAvailableIp}"></td>
                </tr>
                </tbody>
                <tbody>
            </table>
        </div>

        <br><br>

        <div class="row" style="grid-row: 1">
            <div class="center-horizontal">
                <h2>Please input network IP:</h2>
                <input class="input-field" id="networkIp" maxlength="15" minlength="7" name="networkIp"
                       pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" required
                       size="15" th:value="${network != null ? network.networkIp : '192.168.1.1'}" type="text">
            </div>
        </div>

        <div class="row" style="grid-row: 1">
            <div class="center-horizontal">
                <h2>Create network using:</h2>
                <input name="networkType" th:checked="${prevCalculationUsedMask == true ? true : false}"
                       th:onclick="'java:toggleVisibility(\'maskField\');'" type="radio" value="mask">Network mask
                <input name="networkType" th:checked="${prevCalculationUsedMask == true ? false : true}"
                       th:onclick="'java:toggleVisibility(\'clientField\');'" type="radio" value="clients"> Amount of
                clients
            </div>
        </div>
        <br>

        <div class="row" style="grid-row: 2">
            <div class="center-horizontal">
                <div id="maskField" th:style="'display:' + ${prevCalculationUsedMask == true ? 'block' : 'none'}">
                    <label for="networkMask"><b>Please input network mask:</b></label><br>
                    <input class="input-field" id="networkMask" max="30" min="1" name="networkMask" placeholder="24"
                           th:required="${prevCalculationUsedMask == true ? true : false}" type="number">
                </div>
                <div id="clientField" th:style="'display:' + ${prevCalculationUsedMask == true ? 'none' : 'block'}">
                    <label for="clientsAmount"><b>Amount of computers to map:</b></label><br>
                    <input class="input-field" id="clientsAmount" max="2147483646" min="1" name="clientsAmount"
                           placeholder="1024" th:required="${prevCalculationUsedMask == true ? false : true}"
                           type="number">
                </div>
            </div>
        </div>

        <button class="btn-login btn-basic center-horizontal" th:href="@{/home}" type="submit">GET ADDRESSES</button>
    </form>
</section>
</body>
</html>